.NavBar {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: flex-end;
    grid-gap: 1rem;
    padding: 0 1rem;
    background-color: var(--primary-background);
    color: var(--primary-text);

    .navItems {
        width: 14rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg:hover {
            color: var(--link-hover);
            transition: 0.35s;
            cursor: pointer;
        }
    }
}

.ThemeSwitch {
    :global(.MuiSwitch-switchBase) {
        height: 100%;
    }

    :global(.MuiSwitch-root) {
        width: 5rem;
    }

    :global(.MuiSwitch-track) {
        background-color: var(--switch-track) !important;
        opacity: 1 !important;
    }

    .customSwitch {
        background-color: var(--switch-thumb-wrapper);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            color: var(--switch-thumb);
        }
    }
}
