:root {
    --primary-accent: #1890ff;
    --secondary-accent: #ff7830;
    --off-accent: #ffda30;
    --border-radius: 10px;

    --nav-height: 4.5rem;
    --page-content-height: calc(100vh - var(--nav-height));
    --mobile-page-margin: 2.5rem;
    --mobile-nav-element-width: 40vw;
}

[data-theme='DARK'] {
    --primary-text: #fff;
    --secondary-text: #9f9f9f;

    --primary-background: #242424;
    --secondary-background: #333233;
    --accent-background: #161616;
    --frosted-card: rgba(255, 255, 255, 0.75);

    --link-hover: #1d9bc9;
    --switch-track: #1976d2;
    --switch-thumb-wrapper: #aab4be;
    --switch-thumb: #1976d2;
    --card-background: rgba(22, 22, 22, 70%);
    --box-shadow: #000;
    --grayscale: grayscale(100%);
}
[data-theme='LIGHT'] {
    --primary-text: #0b0b0b;
    --secondary-text: #9f9f9f;

    --primary-background: darkgray;
    --secondary-background: #dfdfdf;
    --accent-background: #fff;
    --frosted-card: rgba(255, 255, 255, 0.75);

    --link-hover: #1d9bc9;
    --switch-track: #1976d2;
    --switch-thumb-wrapper: #1976d2;
    --switch-thumb: #fffa53;
    --card-background: rgb(255 255 255 / 70%);
    --box-shadow: #000;
    --grayscale: grayscale(0%);
}
